<a class="btn btn-success" routerLink="create" routerLinkActive="active">Create Booking</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Contact Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">No of Diners</th>
            <th scope="col">Table Number</th>
            <th scope="col">Booking Time</th>
        </tr>
    </thead>
    <tbody *ngFor="let booking of bookings">
        <tr [ngClass]="getBookingClass(booking)" (click)="edit(booking)">
            <td scope="row">
                {{booking?.contactName}}
            </td>
            <td>
                {{booking?.contactNumber}}
            </td>
            <td>
                {{booking?.numberOfPeople}}
            </td>
            <td>
                {{booking?.tableNumber}}
            </td>
            <td>
                {{booking?.bookingTime | date: 'dd/MM/yyyy hh:mm'}}
            </td>
        </tr>
    </tbody>
</table>