<form [formGroup]="bookingFormGroup" (ngSubmit)="onSubmit()" class="ui form">

    <div class="form-group">
        <label for="tableNumber">Table Number</label>
        <input class="form-control" type="number" id="tableNumber" placeholder="1" formControlName="tableNumber" [formControl]="bookingFormGroup.controls['tableNumber']" [(ngModel)]="booking.tableNumber">
        <div ngxErrors="tableNumber">
            <div class="alert alert-danger" ngxError="required">
                Table Number is required
            </div>
        </div>
    </div>

    

    <div class="form-group">
        <label for="contactName">Contact Name</label>
        <input class="form-control" type="text" id="contactName" placeholder="Bob" formControlName="contactName" [formControl]="bookingFormGroup.controls['contactName']" [(ngModel)]="booking.contactName">
        <div ngxErrors="contactName">
            <div class="alert alert-danger" ngxError="required">
                Contact Name is required
            </div>
        </div>
    </div>

    

    <div class="form-group">
        <label for="contactNumber">Contact No</label>
        <input class="form-control" type="phone" id="contactNumber" formControlName="contactNumber"  placeholder="07470372539" [formControl]="bookingFormGroup.controls['contactNumber']" [(ngModel)]="booking.contactNumber"> 
        <div ngxErrors="contactNumber">
            <div class="alert alert-danger" ngxError="required">
                Contact No is required
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="numberOfPeople">No of Diners</label>
        <input class="form-control" type="number" id="numberOfPeople" formControlName="numberOfPeople" placeholder="1" [formControl]="bookingFormGroup.controls['numberOfPeople']" [(ngModel)]="booking.numberOfPeople">
        <div ngxErrors="numberOfPeople">
            <div class="alert alert-danger" ngxError="required">
                Number of Diners is required
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="bookingTime">Date</label>
        <input class="form-control" type="datetime-local" formControlName="bookingTime" id="bookingTime" placeholder="" [formControl]="bookingFormGroup.controls['bookingTime']" [(ngModel)]="booking.bookingTime">
        <div ngxErrors="bookingTime">
            <div class="alert alert-danger" ngxError="required">
                Date/Time of Booking is required
            </div>
        </div>
    </div>

    <button type="submit"  class="btn btn-success">Submit</button>
</form>